@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&display=swap');

.icon-tabler {
    vertical-align: middle;
}

img.emote {
    width: auto;
    height: auto;
}

img.tile {
    display: inline-block;
    width: 4vw;
    min-width: 2rem;
    max-width: 4rem;
    height: auto;
    vertical-align: middle;
}

img.tile.inline-text {
    width: 3rem;
    padding-bottom: 0.5rem;
}

.hanja {
    font-family: "Noto Serif TC", serif;
}

.unblur-hover {
    filter: blur(0.2rem);
    opacity: 0.2;
    transition: 0.2s;
}

.unblur-hover:hover {
    filter: none;
    opacity: 1;
}

.highlight-text-hover:hover {
    color: #ff4242;
}

.indicator-box {
    border: 5px solid #34bd34;
    border-radius: 5px;
    position: absolute;
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 0.1rem dotted #ff4242; */
}


.tooltip .tooltip-text {
    visibility: hidden;
    width: 20rem;
    bottom: 100%;
    left: 50%;
    margin-left: -10rem;
    background-color: #fffc93;
    color: #000000;
    border: 2px solid #f1eb1f;
    border-radius: 0.3rem;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    font-size: 1.5rem;
    font-weight: 400;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

h1, h2, h3, h4, h5, h6, p, span, div, li, td {
    cursor: default;
}